* {
  margin : 0;
  padding : 0;
}

.app__messages{
  height: 450px;
  overflow-y : scroll;
  overflow-x: hidden;
}

.app__messages::-webkit-scrollbar{
  display: none;
}

.app__messages{
  -ms-overflow-style :none;
  scrollbar-width:none
}

h1 {
  margin:25px;
}

body {
  background-color: #fff;
}

.app{
  display : flex;
  align-items: center;
  flex-direction: column;
}

.app__formControl > div {
  display: flex;
  flex-direction: row;
}

.app__formInput{
  flex:1; 
}

.app__formButton{
 flex:0;
}

.neo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:20px;
  height : 550px;
  width : 60%;
  background-color : #fff;
  border-radius : 25px;
  box-shadow : -5px -5px 5px  #ffffff70,
  5px 5px 15px #00000070;
  
}

